src/main/resources/xsd_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="database">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="positions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="position">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" type="xs:string" />
                                        <xs:element name="salary" type="xs:unsignedShort" />
                                        <xs:element name="employmentType" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="user">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="surname" type="xs:string" />
                                        <xs:element name="email" type="xs:string" />
                                        <xs:element name="password" type="xs:string" />
                                        <xs:element name="phone" type="xs:long" />
                                        <xs:element name="type" type="xs:string" />
                                        <xs:element name="positionId" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="addresses">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="country" type="xs:string" />
                                        <xs:element name="state" type="xs:string" />
                                        <xs:element name="city" type="xs:string" />
                                        <xs:element name="addressLine" type="xs:string" />
                                        <xs:element name="zipCode" type="xs:string" />
                                        <xs:element name="usersId" type="xs:unsignedByte" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="services">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="service">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="description" type="xs:string" />
                                        <xs:element name="price" type="xs:unsignedByte" />
                                        <xs:element name="duration" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="invoices">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="invoice">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="total_price" type="xs:unsignedShort" />
                                        <xs:element name="data" type="xs:date" />
                                        <xs:element name="users_id" type="xs:unsignedByte" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="services_on_invoice">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="service_on_invoice">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="services_id" type="xs:unsignedByte" />
                                        <xs:element name="invoices_id" type="xs:unsignedByte" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>